*{
    margin: 0;
    padding: 0;
}
.parent{
    height: 520px;
    width: 15rem;
    background-color: black;
    border-radius: 30px;
    position: relative;
    top: 10rem;
    left:30rem;
}
.hero{
    height: 500px;
    background-color: aliceblue;
    width: 15rem;
    border: 8px solid orange;
    border-radius: 30px;
    position: relative;
    left: 20px;
    bottom: 15px;


    
}
 .class-four h1{
    color: orange;
    position: relative;
    top: 7rem;
    text-align: center;
    font-size: 50px;
}
#hero{
    font-size: 100px;
    color:rgb(204, 50, 135);
    position: relative;
    top: 2rem;
}

.child-one{
    height: 10px;
    width :10rem;
    border: 2px solid black;
    background-color: cornflowerblue;
    margin: 10rem 2rem;
    
}
.child-two{
    height: 10px;
    width :10rem;
    border: 2px solid black;
    background-color: cornflowerblue;
    margin: 2rem 0;
}
.child-three{
    height: 10px;
    width :10rem;
    border: 2px solid black;
    background-color: cornflowerblue;
    margin: 2rem 0  ;
}
.child-three::after{
    content: "";
    display: block;
    width: 5rem;
    height: 4px;
    background-color: black;
    margin: 5rem 2rem;
    border-radius: 10px;
}
